#container{
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}
h1{
    text-align: center;
    margin: 20px;
    font-size: 30px;
}
ul{
    width: 90vw;
    padding-inline-start: 0px;
    display: flex;    
    flex-direction: column;        
    justify-content:flex-start; 
    margin: 0 auto;
}

ul li{
    font-size: 13px;
    list-style: none;
    justify-content: space-between;
    display: flex;
    padding: 5px 0px;
}
form{
    width: 90vw;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

div.form-inline >*{
    border: solid 1px darkcyan;
    margin: 3px;
    font-family: inherit;
    height: calc(1.5em + .75rem + 2px);
    border-radius: .25rem;

}

form button{
    margin-left: 5px;
}
#div-buttons{
    display: flex;
    justify-content: center;
}
